#loading {
  display: hidden;
  position: absolute; /* for IE5-6 */
  z-index: 49;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  filter:alpha(opacity=90); /* IE5.5+ */
  -moz-opacity:0.9; /* Gecko browsers including Netscape 6+ and Firefox */
  -khtml-opacity: 0.9; /* Safari 1.1-1.3 */
  opacity: 0.9; /* Netscape 7.2+, Firefox, Safari 2+, Opera 9 */
}

#loading-box {
  position:absolute;
  width: 250px;
  height: 120px;
  z-index:50;
  top:50%;
  left:50%;
  margin: -60px 0 0 -125px;
  border: 2px solid #777;
  border-radius: 7px;
  padding:10px;
  background-color: white;
}

#loading-animation {
  height: 75px;
  width: 75px;
  margin: 0 auto;
}

#loading-caption {
  height: 1em;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #777;
  font-size: 1.3em;
}
/*
/  Loding script inspired by:
/  http://www.nikesh.me/demo/loading.html
*/

.clearfix {
  clear: both;
  float: none;
}

/***************************** facebook like circle **********************************/
#circle{
  float:left;
  padding: 30px 7px;
}
.circle{
  background-color:#CCC;
  float:left;
  height:15px;
  margin-left:8px;
  width:15px;
  -webkit-animation-name: bounce_circle;
  -webkit-border-radius:10px;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  opacity:0.3;
}
#circle_1{
  -webkit-animation-delay: .2s;
  margin-left:0px;
 }
#circle_2{
  -webkit-animation-delay: .4s;
}
#circle_3{
  -webkit-animation-delay: .6s;
}
@-webkit-keyframes bounce_circle{
  0%{opacity:0.4;}
  50%{opacity:1;background-color:#111}
  100%{opacity:0.4;}
}
