<!doctype html>
<html>
<head>
	<title>HTML Site Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/ui-lightness/jquery-ui.css') }}" />
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/raphael.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>
<body>

<header id="header">
<img src="{{ url_for('static', filename='graphics/Logo-white-background.png') }}" width="368" alt="Logo">
</header>
<!-- start:Wrap -->
<div id="wrap">
<!-- start:Content -->
	<div id="content">
		<div id="draw"></div>
	</div>
<!-- end:Content -->
</div>
<!-- end:Wrap -->
</body>
</html>
